{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1>Search results</h1>
    {% if searchhits == 0 %}
        <h5>Your search returned no results.</h5>
    {% else %}
        <h5>Your search for "<i>{{ query }}</i>" returned {{ searchhits }} results:</h5>
    {% endif %}
    <ul>
        {% for result in searchresults %}
             <li><a href="wiki/{{ result }}">{{ result }}</a></li>
        {% endfor %} 
    </ul>
{% endblock %}